{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'vendor/css/styles.css' %}"/>
    <title>{% block 'title' %}{% endblock %}</title>
</head>
<body>
    <header class="base-header">
        <div class="base-header-logo"><h3>GEO Calculator</h3></div>
        <div class="base-header-menu-container">
            <ul class="base-header-menu">
                <li>MenuLink 1</li>
                <li>MenuLink 2</li>
                <li>MenuLink 3</li>
                <li>MenuLink 4</li>
            </ul>
        </div>
    </header>
    <section></section>
    {% block 'body'%}{% endblock %}
</body>
</html>