{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'vendor/css/styles.css' %}"/>
    <title>{% block 'title' %}{% endblock %}</title>
</head>
<header class="base-header-container">
    <div class="base-header">
        <div class="base-header-logo"><h4>GEO Calculator</h4></div>
        <div class="base-header-menu-container">
            <ul class="base-header-menu">
                <li><a href="#">MenuLink 1</a></li>
                <li><a href="#">MenuLink 2</a></li>
                <li><a href="#">MenuLink 3</a></li>
                <li><a href="#">MenuLink 4</a></li>
            </ul>
        </div>
    </div>
</header>
<body>
    <div class="content">
        {% block 'body'%}{% endblock %}
    </div>
</body>
<footer>
    <div>
        <h4>Made by Jonas Ficehter</h4>
        <h4><a href="https://github.com/JonasFiechter" target="_blank">My github</a></h4>
    </div>
</footer>
</html>