{% extends 'base.html' %}
<link rel="stylesheet" href="../../static/coordinates_coverter/css/styles.css">
{% block 'title' %}Coordinates Converter{% endblock %}
{% block 'page-title' %}Coordinates Converter{% endblock %}
{% block 'body' %}
    <div>
        <form action="POST" class="form-container">
            <ul class="form-grid">
                <li>
                    <label for="type-option">Select coordinates type</label>
                    <select class="type-option" name="type-option" id="type-option">
                        {% for type in coordinates_type %}
                            <option value="{{ type }}">{{ type }}</option>
                        {% endfor %}
                    </select>
                </li>
            </ul>
        </form>
    </div>
{% endblock %}